/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font: 110%/1 "Lato", Calibri, Arial, sans-serif;
  background-color: #8bc34a;
}

body {
  width: 40em;
  height: auto;
  padding: 0;
  margin: 3rem auto;
  text-align: center;
  line-height: 1.25;
  color: white;
  background-color: #dcedc8;
  border: 2px solid #000000;
  border-radius: 10px;
  -webkit-box-shadow: 25px 25px 25px 0px rgba(11, 15, 24, 1);
  -moz-box-shadow: 25px 25px 25px 0px rgba(11, 15, 24, 1);
  box-shadow: 25px 25px 25px 0px rgba(11, 15, 24, 1);
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

h1,
h2,
h3,
h4,
p,
span,
label {
  color: #212121;
}

img,
section {
  padding: 10px;
}

/*---------------------------------------------------------------------------------
  Animations for typography & form elements
---------------------------------------------------------------------------------*/

h1,
h2,
p,
a,
input,
button,
ol,
ul {
  transition: all 0.2s linear;
}

/*---------------------------------------------------------------------------------
  Media queries
---------------------------------------------------------------------------------*/

@media screen and (min-width: 40rem) {
  html {
    font-size: 120%;
  }
  h1,
  h2,
  p,
  a,
  input,
  button,
  ol,
  ul {
    transition: all 0.2s linear;
  }
}

@media screen and (min-width: 51rem) {
  html {
    font-size: 125%;
    line-height: 1.5;
  }
  h1,
  h2,
  p,
  a,
  input,
  button,
  ol,
  ul {
    transition: all 0.2s linear;
  }
}

/*---------------------------------------------------------------------------------
  General Styles
---------------------------------------------------------------------------------*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}
main,
html {
  overflow: hidden;
  position: fixed;
}

@media screen and (min-width: 412px) {
  main {
    overflow: scroll;
  }
}

@media screen and (min-width: 412px) {
  main,
  body,
  html {
    position: initial;
    overflow: hidden;
  }
}

/*---------------------------------------------------------------------------------
  Header styles
---------------------------------------------------------------------------------*/

.header-bar {
  overflow: hidden;
  background-color: #689f38;
  padding: 20px 10px;
  height: 80px;
  display: flex;
  align-items: center;
}

/*Side Drawer Stuff=============================================================*/
.hamburger {
  height: 28px;
  width: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
}

.hamburger:focus {
  outline: none;
}

.hamburger-patty {
  width: 35px;
  height: 3px;
  background: gainsboro;
}

.side-drawer {
  height: 70px;
  width: 25%;
  max-width: 150px;
  background: white;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 136px;
  left: 70%;
  z-index: 200;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: translateX(150%);
  transition: transform 0.3s ease-out;
}

.side-drawer.show {
  transform: translateX(0);
}

.side-drawer-nav {
  list-style-type: none;
}

.side-drawer-link,
.side-drawer-login-link {
  display: inline;
}

.side-drawer-link:hover,
.side-drawer-link:active,
.side-drawer-login-link:hover,
.side-drawer-login-link:active {
  color: orangered;
}
/*Side Drawer Stuff END =========================================================*/

h1 {
  margin: 0;
}

h1 a {
  margin-right: 3rem;
}

.header-link {
  display: none;
}

.spacer {
  flex: 1;
}

.header-right {
  float: none;
}

.header-right {
  float: right;
}

#header-login-link {
  display: none;
}

h1 a {
  text-decoration: none;
}

@media screen and (min-width: 412px) {
  #header-login-link {
    display: block;
  }

  .header-link {
    display: block;
  }

  .side-drawer,
  .hamburger,
  .hamburger-patty {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-bar a {
    float: none;
    display: block;
    text-align: center;
  }

  .header-bar a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
  }
}

/*---------------------------------------------------------------------------------
  Question Page styles
---------------------------------------------------------------------------------*/
.question,
.question-response {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  padding: 2px 16px;
  background-color: #8bc34a;
  height: 100%;
}

.question-response form {
  line-height: 4;
  vertical-align: middle;
}

.question-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #bdbdbd;
  border: none;
  color: #212121;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.question-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.question-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.question-btn:hover span {
  padding-right: 25px;
}

.question-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.question:hover,
.question-response:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.question img {
  height: 10em;
  width: 10em;
  border-radius: 5px 5px 0 0;
}

.question-parent {
  height: 28em;
}

.question-response h3 {
  margin-bottom: 0;
}

.question-input {
  background-color: white;
  background-position: 10px 10px;
  font-size: 20px;
  text-align: center;
}

/*---------------------------------------------------------------------------------
  Dashboard styles
---------------------------------------------------------------------------------*/

.fixed {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #689f38;
  z-index: 300;
  margin: 0;
  background-size: contain;
}

li .improvement-img {
  width: 6em;
  height: 6em;
}

#improve-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.improvement-stat {
  font-size: 12px;
  color: black;
}

.red {
  background-color: red;
}
/*---------------------------------------------------------------------------------
  Registration Page styles
---------------------------------------------------------------------------------*/
html,
body {
  height: 94%;
  width: 98%;
  padding: 0px;
}

#asl-love-img {
  width: 100%;
  min-height: 150px;
}

.question,
.question-response {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  padding: 2px 16px;
  background-color: #8bc34a;
  height: 100px;
  height: 40%;
  float: none;
}

@media screen and (min-width: 412px) {
  .question {
    margin-bottom: 50px;
  }

  .question,
  .question-response {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  }

  #question-image {
    height: 250px;
    width: 250px;
    margin-top: 5%;
  }

  .question-btn {
    width: 180px;
  }

  .question-parent {
    height: 800px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 412px) {
  #asl-love-img {
    width: 650px;
  }
}

@media screen and (min-width: 768px) {
  .question,
  .question-response {
    display: block;
    width: 47%;
    height: 50%;
    float: none;
  }

  .question-parent {
    overflow: hidden;
  }

  .question {
    float: left;
  }

  #question-image {
    margin-top: 20%;
  }

  .question-response {
    float: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  body {
    overflow: hidden;
  }
}

/*---------------------------------------------------------------------------------
  Registration Page styles
---------------------------------------------------------------------------------*/

#registration-form,
.login-form {
  margin-bottom: 50px;
}

.form-input {
  background-color: white;
  background-position: 10px 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  a {
    text-decoration: underline;
  }
}
