/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font: 110%/1 "Lato", Calibri, Arial, sans-serif;
  background-color: #8bc34a;
}

body {
  width: 40em;
  height: auto;
  padding: 0;
  margin: 3rem auto;
  text-align: center;
  line-height: 1.25;
  color: white;
  background-color: #dcedc8;
  border: 2px solid #000000;
  border-radius: 10px;
  -webkit-box-shadow: 25px 25px 25px 0px rgba(11, 15, 24, 1);
  -moz-box-shadow: 25px 25px 25px 0px rgba(11, 15, 24, 1);
  box-shadow: 25px 25px 25px 0px rgba(11, 15, 24, 1);
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

h1,
h2,
h3,
h4,
p,
label {
  color: #212121;
}

img,
section {
  padding: 10px;
}

/*---------------------------------------------------------------------------------
  Animations for typography & form elements
---------------------------------------------------------------------------------*/

h1,
h2,
p,
a,
input,
button,
ol,
ul {
  transition: all 0.2s linear;
}

/*---------------------------------------------------------------------------------
  Media queries
---------------------------------------------------------------------------------*/

@media screen and (min-width: 40rem) {
  html {
    font-size: 120%;
  }
  h1,
  h2,
  p,
  a,
  input,
  button,
  ol,
  ul {
    transition: all 0.2s linear;
  }
}

@media screen and (min-width: 51rem) {
  html {
    font-size: 125%;
    line-height: 1.5;
  }
  h1,
  h2,
  p,
  a,
  input,
  button,
  ol,
  ul {
    transition: all 0.2s linear;
  }
}

/*---------------------------------------------------------------------------------
  Header styles
---------------------------------------------------------------------------------*/
.header-bar {
  overflow: hidden;
  background-color: #689f38;
  padding: 20px 10px;
}

.header-bar a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*---------------------------------------------------------------------------------
  Question Page styles
---------------------------------------------------------------------------------*/

.question,
.question-response {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  padding: 2px 16px;
  background-color: #8bc34a;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.question {
  float: left;
  margin-left: 30px;
}
.question-response {
  float: right;
  margin-right: 30px;
}

.question-response form {
  line-height: 4;
  vertical-align: middle;
}

.question-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #bdbdbd;
  border: none;
  color: #212121;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.question-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.question-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.question-btn:hover span {
  padding-right: 25px;
}

.question-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.question:hover,
.question-response:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.question img {
  height: 10em;
  width: 10em;
  border-radius: 5px 5px 0 0;
}

.question-parent {
  height: 12em;
}

.question-response h3 {
  margin-bottom: 0;
}

.question-input {
  background-color: white;
  background-position: 10px 10px;
  font-size: 20px;
  text-align: center;
}
